/* Menyamakan Reset CSS sesuai modern-normalize & Tailwind v2 sekolah */
:root { 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    background-color: #f3f4f6; /* bg-gray-100 biar kerasa system sekolahnya */
    color: #111827;
}

.page { 
    display: none; 
}

.page.active { 
    display: block; 
}

/* Efek custom radio button pas diklik sesuai CSS CBT asli */
input[type=radio]:checked + div {
    border-color: #3b82f6 !important;
    background-color: #eff6ff !important;
}

input[type=radio]:checked + div span:first-child {
    background-color: #3b82f6 !important;
    color: #ffffff !important;
    border-color: #3b82f6 !important;
}